html {
    background: #d2dae0;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
}
.personal img{
    width: 100%;
}
.personal p{
        font-size: 2em;
        color: #888;
    }
a,a:visited{color: #888;}
@media only screen and (min-width: 760px) {
    .base {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .personal h2{
        text-align: center;
        color: #888;
    }
    .personal img{
        width: 20%;
        float: left;
        margin-right: 1em;
    }.personal p{
        font-size: 1.2em;

    }
    a{margin-left: 5px;
    width: 24%;}

}